<ngx-spinner name="sp2" [fullScreen]="true" type="ball-fussion" size="medium"><p style="font-size: 20px; color: white" align="center">{{this.loadingText}}</p></ngx-spinner>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->


    <!-- Login Form -->
    <form [formGroup]="resetPassword">
      <table width="80%" style="margin:30px auto;" align="center">
        <tr>
          <td>

          </td>
        </tr>

        <tr>
          <td>
            <h3>{{this.changePasswordHeading}}</h3>
            <hr />
          </td>
        </tr>
        <tr>
          <td align="left"><label>
              <h6>Enter Current Password</h6>
            </label>
          </td>
        </tr>
        <tr>
          <td><input type="password" formControlName="currentPassword" class="form-control">
          </td>
        </tr>
        <span
          *ngIf="(resetPasswordForm.currentPassword.dirty || resetPasswordForm.currentPassword.touched) && resetPasswordForm.currentPassword.invalid && resetPasswordForm.currentPassword.errors.required">
          <font color="red">{{this.emptyPasswordError}}.</font>
        </span>
        <tr>
          <td>
            <font color="white">.</font>
          </td>
        </tr>
        <tr>
          <td align="left"><label>
              <h6>Enter New Password</h6>
            </label>
          </td>
        </tr>
        <tr>
          <td><input type="password"  formControlName="passwordOne" class="form-control">
          </td>
        </tr>
        <span
          *ngIf="(resetPasswordForm.passwordOne.dirty || resetPasswordForm.passwordOne.touched) && resetPasswordForm.passwordOne.invalid && resetPasswordForm.passwordOne.errors.required">
          <font color="red">{{this.emptyPasswordError}}.</font>
        </span>
        <tr>
          <td>
            <font color="white">.</font>
          </td>
        </tr>
        <tr>
          <td align="left"><label>
              <h6>Re-Enter new password</h6>
            </label>
          </td>
        </tr>


        <tr>
          <td align="left"> <input type="password" formControlName="passwordTwo" class="form-control">
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <td>
                  <div #dataContainer align="left">

                  </div>
                </td>
                <td>
                  <div (click)=refreshCaptcha() id="refreshbutton"> </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div>
          <td><input type="text" formControlName="captcha" class="form-control"></td>
  </div>
  </td>
  </tr>
  <tr>
    <td height="30"></td>
  </tr>
  <tr>
    <td>
      <div *ngIf="errorMessage">
        <font color='red'><span>{{message}}</span></font>
      </div>
    </td>
  </tr>
  <tr>
    <font color='white'>.</font>
  </tr>
  <tr>
    <td> <button type="button" class="btns" (click)=resetPasswordfunc(resetPassword)>Submit</button>&nbsp;&nbsp;&nbsp;
      <button type="button" class="btns" (click)=cancelResetPasswordfunc()>Cancel</button></td>
  </tr>

  </table>
  </form>


  <!-- Remind Passowrd -->


</div>
</div>








