.loginpanel {
	background: none repeat scroll 0 0 #fff;
    border: black;
    border-radius: 7px;
    box-shadow: 0 1px 10px #eee;
    left: 50%;
    margin: 10% auto;
    min-height: 150px;
    padding: 20px 30px 40px 20px;
    width: 450px;
	}
	.logintitle {
        color: #444;
		font-size: 1.5em;
        margin-bottom: 25px;
    }

    .modal-backdrop {
        position:relative;
    }

	