

<router-outlet></router-outlet>

<div class="modal fade" id="SessionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <div>
          <span><h6>Session Expired,Please login again.</h6>
          <button type="button" ngbAutofocus class="btns" (click)=goToLogin() data-dismiss="modal">Ok</button></span>
        </div>
    </div>
  </div>
</div>